@import "../../../mixins";
@import "../../../variable";

div.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($primary, 0.2);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  div.add-question {
    background-color: $background-tertiary;
    height: 100%;
    width: 40%;
    opacity: 1;
    position: relative;

    @include for-mobile-only {
      margin-top: 1rem;
      width: 100%;
    }

    @include for-tablet-only {
      margin-top: 2rem;
      width: 100%;
    }

    div.add-question-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      padding: 2rem;

      input {
        height: 1.5rem;
        width: 100%;
        border: none;
        border-bottom: 2px solid $background-primary;
        &:focus {
          outline: none;
          border-bottom: 2px solid $primary;
        }
      }

      & > div {
        margin: 1rem auto;
        width: 100%;
      }

      div.preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        h3 {
          text-align: center;
        }
        div.ak-question-card {
          width: 100%;
        }
      }

      div.add-tags {
        div.tags {
          display: inline-flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          div.add {
            height: 100%;
            background-color: $primary;
            border-radius: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              fill: $background-tertiary;
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
      div.confirmation {
        button {
          margin: 0.5rem 1rem;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          border: none;
          outline: none;
          &:hover {
            cursor: pointer;
          }
          &:first-child {
            color: $background-tertiary;
            background-color: $primary;
            border: 2px solid $primary;
          }
          &:last-child {
            color: $primary;
            background-color: $background-tertiary;
            border: 2px solid $primary;
          }
        }
      }
    }
  }
}
