@import "../../../mixins";
@import "../../../variable";

div.ak-question-card {
  position: relative;
  @include Container(2rem, 2rem);
  display: flex;
  width: 20rem;
  min-height: 8rem;
  flex-direction: column;
  @include theme-shadow-primary;
  border-radius: 0.5rem;
  background-color: $background-tertiary;

  div.delete-question-card {
    position: absolute;
    width: fit-content;
    bottom: 0;
    right: 0;
    margin: 1rem;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    svg {
      fill: $text-primary;
      width: 1.5rem;
      height: auto;
    }

    &:hover {
      svg {
        fill: $secondary;
        cursor: pointer;
      }
    }
  }
  &:hover {
    div.delete-question-card {
      opacity: 1;
    }
  }
}
