/* Theme */
$primary: #020fb4;
$secondary: #f60715;
$tertiary: #1e39e0;

$background-primary: #f5f5f5;
$background-secondary: #302b33;
$background-tertiary: #ffffff;

$text-primary: #302b33;
$text-secondary: #e9f0f3;
