@import "./mixins";
@import "./variable";

div.App {
  position: relative;
  background-color: $background-primary;
  div.ak-questions-cards-section {
    position: relative;
    width: fit-content;
    padding: 4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
